[Computers]
# Do not sync any other locations
desktop_enabled: False
documents_enabled: False
pictures_enabled: False
# Setup b&s sync folder
folders: %ProgramFiles%\Tusab\bns
# Upload in high quality ONLY
high_quality_enabled: True
always_show_in_photos: False
usb_sync_enabled: False
# ignore_extensions: ext1, ext2, ext3
# B&S should NOT delete files in sync folder
delete_mode: NEVER_SYNC_DELETES
[MyDrive]
#folder: /path/to/google_drive
my_drive_enabled: False
[Settings]
autolaunch: True
show_overlays: False
#[Network]
#download_bandwidth: 100
#upload_bandwidth: 200
#use_direct_connection: False